<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Listing Articles</h1>
  <h3>My first blog articles with Rails 4</h3>

  <%= render @articles %>

  <br>

  <%= link_to 'New Article', new_article_path %>
</div>
