login: &login
  adapter: mysql2
  host: 127.0.0.1
  port: 3306
  username: root
  password: password

development:
  database: blog_development
  <<: *login

test: &test
  database: blog_test
  <<: *login

cucumber:
  <<: *test

production:
  database: blog_production
  <<: *login